

.container{
    
}

.header-container{
    background-image: url('Images/parallax1.jpg');
}
.backgroud-image-prop{
    height: 510px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* opacity: 0.8; */
    margin-bottom: 20px;
    animation-name: header-background;
    animation-duration: 2s;
}

.positon-rel{
    position: relative;
}

@keyframes header-background {
    from {height: 100px;opacity: 0.2;}
    to {height: 510px;opacity: 0.8;}
}

.contact-container{
    background-image: url('Images/contact.jpg');
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Lato", sans-serif;
    letter-spacing: 10px;
    font-size: 2vw;
}

.navbar-container{
    color: darkslategrey;
    /* font-size: larger; */
    display: flex;
    justify-content: space-between;
}
.font-class-1{
    font-variant: small-caps;
    /* font-size: 15px; */
}
.font{
    font-family: "Lato", sans-serif;
}

.nav-text{
    cursor: pointer;
    padding: 11px;
}

.font-class-1:hover{
    background-color: darkgrey;
    color: black;
}

.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.text-class{
    margin-left: 6px;
    padding: 1%;
}
.center-logo{
    padding: 1%;
    color: white;
    font-family: "Lato", sans-serif;
    letter-spacing: 10px;
    /* font-size: x-large; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-clr-center{
    background-color: black;
}

.center-position{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}


.menu-icon{
    display: none;
}

.navbar-container:first-child{
    display: flex;
}

.body-container{
    text-align: center;
    /* padding: 5px 10px 5px 10px; */
    color: grey;
    margin: 5% 13%;
    width: min(100%,0);
    /* 800px */
}
.body-text{
    padding: 1%;
    line-height: 27px;
}

.home-text{
    display: none;
}
.user-container{
    text-align: center;
    color: grey;
    padding: 3% 13%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 2%; */
    width: min(100%, 0);
    /* 850px */
}
.user-data-section{
    text-align: left;
    line-height: 27px;
    margin-top: 2em;
}
.name-section{
    margin-bottom: 2%;
    animation-name: example;
    animation-duration: 2s;
    /* font-weight: 600; */
    font-family: sans-serif;
    /* font-size: medium; */
}
@keyframes example {
    from {margin-bottom: 0%;}
    to {margin-bottom: 11%;}
  }
.user-img{
    opacity: 0.5;
}
.user-img:hover{
    opacity: 1;
    cursor: pointer;
}

.name-section::before{
    content: "\f007";
    font-family: FontAwesome;
    padding-right: 2% ;
}
.skills-container{
    /* line-height: 4rem; */
}

.photography::before{
    content: "\f030";
    font-family: FontAwesome;
    padding-right: 1% ;
}

.webdesign::before{
    content: "\f109";
    font-family: FontAwesome;
    padding-right: 1% ;
}

.photoshop::before{
    content: "\f03e";
    font-family: FontAwesome;
    padding-right: 1%;
}
.skill{
    letter-spacing: 1em;
    text-align: left;
    /* font-size: medium; */
    padding: 13px 1px;
}
.loader-border{
    /* height: 2.5rem; */
    width: 80vw;
    background: #f1f1f1 !important;
}
.loader-bar{
    height: 3vh;
    padding: 8px;
    background-color:#616161!important;
    color: white;
    justify-content: center;
    font-family: sans-serif;
}

.count-container{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    background-color: gray;
    padding: 3%;
    text-align: center;
    color: white;
    /* font-size: 16px; */
    font-family: sans-serif;
    margin-top: 4%;
    gap: 6rem;
    width: min(100%, 0);
    /* 918px */
}

.font-14{
    /* font-size: 24px; */
}
.line-het-31{
    line-height: 31px;
}

.portfolio-container{
    background-image: url('Images/parallax2.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    letter-spacing: 10px;
    font-family: sans-serif;
    color: white;
    /* font-size: 32px; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-stack{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    gap: 10px;
    width: min(100%, 0);
    /* 918 */
}

.image-list:hover{
    opacity: 0.5;
    cursor: pointer;
}

.load-button{
    /* position: relative; */
    background-color: #f1f1f1 !important;;
    padding: 18px;
    color: black;
    font-family: sans-serif;
    margin-top: 50px;
    width: 97px;
}
.load{
    /* font-size: 15px; */
}

.contact-details .details{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    width: min(100%, 0);
    /* 819 */
}

.contact-details .icon{
    margin-right: 15px;
}
.contact-details .font{
   margin-bottom:7px;
}

.input-container{
    display: grid;
    grid-template-areas: "name-input email-input"
                        "message-input message-input";
                        gap: 19px;
}

input{
    border: 1px solid #ccc!important;
    padding: 11px;
}

.send-button{
    display: flex;
    padding: 10px;
    background: black;
    color: white;
    width: fit-content;
    margin-top: 15px;
    margin-left: auto;
    /* font-size: 15px; */
}

.footer-container{
    background-color: black;
    opacity: 0.60;
    color: white;
    position: relative;
    height: 300px;
    cursor: pointer;
}
.footer-container:hover{
    opacity: 1;
    /* color: black; */
}

.footer-container .content{

}

.footer-container .to-top{
    background-color: #f1f1f1!important;
    color: black;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-icons{
    display: flex;
    /* grid-template-columns: 1fr 13fr; */
    text-align: left;
}

.map-image{
    width: 60%;
}

.footer-icons{
    /* font-size: 23px; */
}

#left-nav{
    display: inline-flex;
}

.tea-cup{
    text-align: left;
    margin-top: 28px;
    font-size: 1vw;
    letter-spacing: 1px;
}

@media (max-width: 700px) {
    body{
        background-color: blueviolet;
    }
    #left-nav {
        background-color: white;
        position: absolute;
        top: 41px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        gap: 0;
        display: none;
    }
    .search-icon{
        display: none;
    }
    .menu-icon{
        display: block;
        background-color: black;
        color: white;
    }
    .home-text{
        display: block;
    }
    .user-container{
        /* grid-template-columns: repeat(1, 1fr); */
    }
    
    .body-container{
        margin-top: 58px;
    }
    .skill{
        padding: 20px 1px;
    }
    .loader-bar{
        padding: 15px;
    }
    .count-container{
        /* grid-template-columns: repeat(1,1fr); */
    }
    .contact-details .details{
        /* grid-template-columns: repeat(1,1fr); */
    }
    .map-image{
        width: 100%;
    }
    .contact-icons{
        /* font-size: 12px; */
    }
    .image-stack{
        /* grid-template-columns: repeat(2,1fr); */
    }
   .input-container{
     grid-template-areas: "name-input name-input "
                          "email-input email-input"
                          "message-input message-input"
   }
}





